<article class="post">
  <div class="title">
<<<<<<< HEAD
    <a href="{{user_post}}" target="_blank">{{title}}</a>
    <span>({{format_url user_post}})</span>
=======
    <a href="{{image}}" target="_blank">{{title}}</a>
    <span>({{image}})</span>
>>>>>>> 72fc35d98361ef8ed23c94339bebcbd9c482229c
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>