<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!-- <article class="post">
      <div class="title">
        <a href="{{post.image}}" target="_blank">{{post.title}}</a>
        <img src="{{post.image}}">
      </div>
      <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article> --}}
    <div class="card" style="width: 30rem; padding:5px">
      <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}</p>
        <a href="/post/{{post.id}}" class="btn btn-primary">{{post.comments.length}} comment(s)</a>
      </div>
    </div>
  </li>
  {{/each}}
</ul>